@{
  Layout = "_Layout";
}
<h5>@Model["vendors"].Name Order Details: </h5>

    <p>Title: @Model["orders"].Title</p>
    <p>Description: @Model["orders"].Desc</p>
    <p>Order Date: @Model["orders"].OrderDate</p>
    <p>Price: $@Model["orders"].Price</p>

    <p><a href='/vendors/@Model["vendors"].Id/orders/new'>Add another Order</a></p>
    <p><a href='/vendors/@Model["vendors"].Id/orders'>Back to all orders with @Model["vendors"].Name</a></p>
    <p><a href='/vendors'>Back to all vendors</a></p>